.title {
    transition: all 1s ease-in-out;
}

.title:hover {
    background: red;
}

a{
    background-color: darkorange
}

a:link{
    color: aliceblue;
}
a:visited{
    color: black;
}


.class1, .class2{
    height: 20px;
    width: 100px;
    background-color: aquamarine;
}

.class2 .class3{
    height: 20px;
    width: 100px;
    background-color: rgba(241, 18, 18, 0.3)
}