*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;

}
#logo{
    margin-left: 8vw;
    height: 70px;
    width: 70px;
}

#menu-ul{
    list-style-type: none;
    display: flex;
    margin-right: 8vw;
    align-items: center;
}

.menu-li{
    margin: 0 0 0 10px;
    font-weight: 600;
    font-style: normal;
}

.img-cover{
    background-image: url(../img/endless-constellation.svg);
    height: 100vh;
    background-size: cover;
}
.no-img-cover{
    background-color: aliceblue;
    height: 100vh;
}

.home-content{
    padding-top: 70px;
}

.home-content-text{
    /* margin-top: 1%; */
    margin:auto;
    font-size: 2rem;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);


}
.home-title{
    margin-top: 50%; 
    color: rgb(0, 87, 89);
    text-align: center;
    font-size: 2rem;
}
.home-subtitle{
    text-align: center;
    font-size: 1.2rem;
    width: 400px;
    margin: auto;
    font-weight: 400;
    text-justify:auto;
    color: rgb(0, 87, 89);
    

}

.gallery-title{
    padding-top: 1%;
    color: rgb(0, 87, 89);
    margin-left: 8vw;
}
.content-gallery{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}