*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

nav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;

}
#logo{
    margin-left: 8vw;
    height: 70px;
    width: 70px;
}

#menu-ul{
    list-style-type: none;
    display: flex;
    margin-right: 8vw;
    align-items: center;
}

.menu-li{
    margin: 0 0 0 10px;
    font-weight: 600;
    font-style: normal;
}

.img-cover{
    background-image: url(../img/endless-constellation.svg);
    height: 100vh;
    background-size: cover;
}
.info-form-cover{
    background-image: url(../img/endless-constellation.svg);
    height: 100vh;
    background-size: cover;
}
.no-img-cover{
    background-color: aliceblue;
    height: 100vh;
}

.home-content{
    padding-top: 70px;
    display: flex;
    height: 100%;
    align-items: center;
}

.home-content-text{
    font-size: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.home-content-img{
    font-size: 2rem;
    width: fit-content;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.innovation-img{
    height: 400px;
    width: 400px;
    
}
.home-title{
    color: rgb(252, 252, 252);
    font-size: 2rem;
    
}
.home-subtitle{
    font-size: 1.2rem;
    width: 400px;
    font-weight: 400;
    color: rgb(250, 250, 250);
    text-align: justify;
    margin-top: 10px;

}

h3{
    margin-left: 8vw;
    padding-top: 10px;
}

.gallery-title{
    padding-top: 1%;
    color: rgb(0, 0, 0);
    margin-left: 8vw;
    font-size: 2rem;

}
.gallery-content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: normal;
}
.content-gallery{
    height: 250px;
    width: 250px;
    background-color: rgb(101, 33, 146);
    margin-top: 100px;
    /* display: grid; */
}

.forms{
    padding-top: 10%;
    font-size: 2rem;
    color:aliceblue;
    margin-left: 8vw;
}

label{
    font-size: 1.5rem;
}