*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}
.container{
    display: flex;
}
/* img não esta funcionando com classe */
#logoe {
    height: 35px;
    margin-right: 1.5rem;
    width: 175px;
    align-self: center;
}
#imgback{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.nohiperlink{
    text-decoration: none;
    padding: 4px;
}
.menu {
    list-style: none;
    display: flex;
    margin-top: 7px;
    margin-left: 200px;


}

